@import url(https://fonts.googleapis.com/css?family=Limelight);
@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=BenchNine);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html{
	background-color: #9faeb8;
}

body{
	font-size: 16px;
}

h1{
	font-size: 5em;
	color: black;
	padding-bottom: 1%;
	padding-top: 1%;
	text-align: center;
	font-family: 'BenchNine', sans-serif;
}

h2{
	font-size: 40px;
	padding: 30px;
	font-family: 'BenchNine', sans-serif;
}

h3{
	font-family: 'BenchNine', sans-serif;
}

nav {
	background-color:  #1e8190;
	font-family: 'BenchNine', sans-serif;
	width: 70%;
	margin: auto;
	padding: auto;
	text-align: center;
	font-size: 1.5em;
}

footer{
	background-color: #1e8190;
	color:white;

}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

a {
	background-color:  #1e8190;
	color: white;
	text-decoration: none;
	display: block;
	float: left;
	padding: 2.5%;
	margin-left: 5%;
}

.main{
	margin-top: 2%;
	background: url("../assets/model_3.jpg") no-repeat center center scroll;
	background-size: 100%;
	height: 550px;
}

.column{
	float: left;
	width: 30%;
	text-align: center;
	margin: 4em 1em;
	padding: 1em;
}

#slogan{
	text-align: left;
	font-size: 5em;
	color: black;
	padding-bottom: 1%;
	padding-top: 1%;
	font-family: 'BenchNine', sans-serif;
}

.img1 {
	width: 100%;
	height: 92px;
}

@media only screen and (max-width: 480px) {
	h1, nav {
		display: block;
		text-align: center;
		float: none;
		width: auto;
	}
	nav a {
   		margin: 0 1em 1em;
 	}
}
