img{
	height: 400px;
	width: 700px;
	border: 1px solid white;
	border-width: 20px;
	height: 300px;
}

body{
	text-align: center;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

html{
	background-color: black;
}

#slogan{
	font-style: italic;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	height: 50px;
	border-bottom: 1px solid white;
	margin-right: 340px;
	margin-left: 340px;
	margin-top: 10px;
}

.bodytext{
	text-align: left;
	margin-left: 340px;
	margin-right: 340px;
}

.howitworks{
	text-align: center;
}

h1{
	font-size: 50px;
	height: 30px;
}

ul {
      list-style-type: none;
}
